:root{
    --dark:#19283f;
    --green:#33d1cc;
    --red:#ff3150;
    --yellow:#ffc400;
    --grey:#eff7fa;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*start navbar*/

.navbar{
    background-color: var(--dark);
}

.navbar .navbar-nav .nav-link{
    color: white;
}

.navbar .navbar-nav .active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--green);
}

.navbar .search{
    border-left: 1px solid var(--green);
}

.navbar .search svg{
    color: var(--green);
}

.navbar .navbar-toggler{
    color: white;
    font-size: 25px;
    border-color: white;
}

.btn{
    background-color: var(--red);
    color: var(--yellow);
    border-radius: 10px;
    line-height: 17px;
}

/*end navbar*/

/*home start*/

.home{
background-color: var(--dark);
padding: 100px 0;
color: white;
}

.home h1{
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.home p{
    font-weight: 100;
    font-size: 15px;
}

.home .btn{
    width: 150px;
    margin-top: 10px;
}

/*home end*/

/*services start*/

header h1{
    font-weight: 400;
    text-transform: capitalize;
}

header p{
    font-size: 15px;
}

header::after{
    content: '';
    width: 120px;
    height: 2px;
    background-color: var(--green);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
}

.icon-holder{
    margin-top: 50px;
    height: 200px;
}

.feat .icon-holder svg{
    left: 50%;
    transform: translate(-50%);
}

.feat .number{
    font-size: 14rem;
    font-weight: bold;
    color:var(--grey);
}

.feat .icon{
    color: var(--green);
}

.feat h4{
    color: var(--yellow);
    margin-top: 15px;
}

/*services end*/


/*start work*/
.about{
    background-color: var(--grey);
}

.about header{
    margin-bottom: 80px;
}

.about li{
    padding: 0.4rem 1rem ;
    margin: 0 5px;
    cursor: pointer;
}

.about .active{
    background-color: var(--red);
    color: var(--yellow);
    border-radius: 5px;
}

.about .box{
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.about ul li:not(.active):hover{
    color: var(--red);
}

.about .box::before{
    content: attr(data-work);
    position: absolute;
    background-color: rgba(51, 209, 204,0.7 );
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    font-weight: bold;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s;
}

.about .box:hover::before{
    transform: scaleX(1)
}

/*end work*/

/*start stuff*/

/*end stuff*/

/*start team*/
.team{
    background-color: var(--grey);
}

.team .title h1{
    color: var(--yellow);
    text-transform: capitalize;
}

.team .box h4{
    background-color: var(--green);
    color: white;
}

/*end team*/


/*project start*/

.project{
    background-color: var(--dark);
}

.project h2,
.project p{
    color: white;
}

/*project end*/

/*subscribe start*/

.subscribe{
    background-color: var(--yellow);
}

 .subscribe input{
    border: none;
    border-bottom: 1px solid white;
}

.subscribe input:focus{
    outline: none;
}

.subscribe input::placeholder{
    color: white;
} 

.subscribe .btn{
    background-color: var(--dark);
}

.subscribe .btn:hover{
    color: var(--yellow);
}

/*subscribe end*/

/*footer start*/

footer{
    background-color: var(--dark);
    color: white;
    font-size: 15px;
}

footer .social{
    gap: 30px;
}

footer .social li i{
    color: white;
    width: 25px;
    height: 25px;
}

footer .social .facebook{
    background-color: #1877f2;
}

footer .social .twitter{
    background-color: #1da1f2;
}

footer .social .linkedin{
    background-color:#0077b5;
}

footer .social .instagram{
    background-color: #405de6;
}


/*footer end*/
